%h2 Exchange rate for #{@current_currency.symbol} (#{@current_currency.code})
%br
%ul.nav.nav-tabs
  - Rails.application.config.currency_rate_intervals.each do |interval_name, _offset|
    = active_link_to t("intervals.#{interval_name}"),
                     currency_path(@current_currency, interval: interval_name),
                     wrap_tag: :li, active: :exact
%br

- @to_currencies.each do |currency|
  %h4 compared to #{currency.code} (#{currency.symbol}).
  %p
    - average = @current_currency.average_rate_against(currency, interval: @current_interval)
    %b
      = t("intervals.#{@current_interval}")
      average:
    buy:  #{number_with_precision average[:buy]}
    sell: #{number_with_precision average[:sell]}
  = rate_chart_for_currency(currency, @rates)
